{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>商品修正</title>
    <link rel="stylesheet" type="text/css" href="{% static 'soso/css/style.css' %}" />
</head>
<body>
    <div class="content">
        <h3>商品修正</h3>

        {% if item.image %}
        <p>現在の画像：</p>
        <img src="{{ item.image.url }}" alt="{{ item.name }}" width="200">
        {% else %}
        <p>画像なし</p>
        {% endif %}

        <div class="form">
            <form action="/soso/adminItemEdit/{{ item_id }}/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="更新" />
            </form>
        </div>

        <br>
        <a href="{% url 'soso:admin_item_list' %}">商品一覧に戻る</a>
    </div>
</body>
</html>