<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>管理者ログイン</title>
</head>
<body>
    <div class="content">
        <h3>管理者ログイン</h3>

        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}

        <div class="form">
            <form action="{% url 'soso:admin_login' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="ログイン" />
            </form>
        </div>

        <br>
        <a href="{% url 'soso:top_page' %}">商品検索に戻る</a>
    </div>
</body>
</html>