{% extends "soso/base.html" %}
{% load static %}

{% block title %}会員情報変更{% endblock %}

{% block content %}
    <div class="content">
        <h3>会員情報を変更してください。</h3>

        <div class="form">
            <form action="{% url 'soso:user_update' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="変更" />
            </form>
        </div>

        <br>
        <a href="{% url 'soso:user_withdraw_confirm' %}">退会する</a><br>
        <a href="{% url 'soso:top_page' %}">商品検索に戻る</a>
    </div>
    {% endblock %}